<!--  <beans:beans xmlns="http://www.springframework.org/schema/security"
   			   xmlns:beans="http://www.springframework.org/schema/beans"
   			   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="http://www.springframework.org/schema/beans
     					http://www.springframework.org/schema/beans/spring-beans.xsd
    					http://www.springframework.org/schema/security 
    					http://www.springframework.org/schema/security/spring-security.xsd">
      
    <http auto-config="true" >
        <intercept-url pattern="/" access="permitAll" />
        <intercept-url pattern="/home" access="permitAll" />
        <intercept-url pattern="/manage**" access="hasRole('ADMIN')" />
        <form-login  login-page="/login" username-parameter="email" password-parameter="password" authentication-failure-url="/Access_Denied" />
        <csrf/>
    </http>
  
    <authentication-manager >
        <authentication-provider>
            <user-service>
                <user name="bhayyasahebkoke@gmail.com"  password="SBK@123"  authorities="ADMIN" />
                <user name="sbk@gmail.com" password="123456" authorities="USER" />
                <user name="mohanlohar63@gmail.com"   password="root123" authorities="SUPPLIER" />
            </user-service>
        </authentication-provider>
    </authentication-manager>
      
     
</beans:beans> 

 -->